################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Condominio.Api/obj
/Condominio.Api/bin/Debug/netcoreapp3.1
/Condominio.BaseModel/obj
/Condominio.BaseModel/bin/Debug/netcoreapp3.1
/Condominio.Business/obj
/Condominio.Business/bin/Debug/netcoreapp3.1
/Condominio.Model/obj
/Condominio.Model/bin/Debug/netcoreapp3.1
/Condominio.Repository/obj
/Condominio.Repository/bin/Debug/netcoreapp3.1
/Condominio.Repository.Tests/obj
/Condominio.Repository.Tests/bin/Debug/netcoreapp3.1
/Condominio.Fixture/bin/Debug/netcoreapp3.1
/Condominio.Fixture/obj
/Condominio.Repository.Mappings/bin/Debug/netcoreapp3.1
/Condominio.Repository.Mappings/obj
/Condominio.Services.Tests/bin/Debug/netcoreapp3.1
/Condominio.Services.Tests/obj
