.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

}

.mat-card{
  display: flex-inline;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 300px;
}

.input {
  width: 100%;
  min-width: 300px;
}

.mat-card-title
{
  text-align: center;
  color: "primary";
}

.mat-card-content{
  display: flex;
  justify-content: center;
  padding:  20px;
}

.button {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.error {
  display: flex;
  justify-content: center;
}


